*.DS_Store
__pycache__
*.snap
*.log
*.csv
*.pyc

# ignoring logs produced by rotation in production environment
*.1
*.2
*.3
*.4
*.5

# exclude sphinx doc builds
doc/build/*

# exclude generated xml  and html files from robot integration tests output
tests/*.xml

# code coverage report
.coverage
venv/
.vscode/
.env