html {
	font-family: sans-serif;
  background: #D7D6D6;
	padding: 1rem;
}
.hide {
  display: none;
}
input.danger {
	color: #BE0001;
}
input[type=submit] {
	align-self: start;
	min-width: 10em;
}
table.table {
	border: 1px solid #050505;
	background-color: #F4F4F4;
	width: 100%;
	text-align: center;
}
table.table td, table.table {
	border: 1px solid #AAAAAA;
	padding: 2px 3px;
}
table.table tbody td {
	font-size: 13px;
}
table.table tr:nth-child(even) {
	background: #B3B3B3;
}
table.table thead th{
	background: #333333;
  font-weight: bold;
  color: #D7D6D6;
  text-align: center;
  border: 1px solid #AAAAAA;
  padding: 2px 3px;
}
/* navbar */
.navbar-default {
    background-color: #333333;
}
